* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #f9faf8;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #e5e7eb;
}

.lead-text {
  font-size: 48px;
}

.btn {
  display: block;
  padding: 12px 20px;
  background-color: #3882f6;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 16px;
}

.btn:hover {
  background-color: #e5e7eb;
  color: #1f2937;
}

/* Header*/

header {
  background-color: #1f2937;
  color: #fff;
}

nav {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.main-nav {
  margin-left: auto;
  list-style: none;
  display: flex;
  gap: 20px;
}

.hero {
  height: 400px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.hero-info, .hero-img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.hero-img img {
  max-width: 100%;
}

/* Examples */

.examples {
  background-color: #fff;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  height: 400px;
  text-align: center;
}

.examples-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.example {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.example img {
  width: 200px;
  border: 10px solid #3882f6;
  border-radius: 5px;
}

/* Quote */

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

blockquote {
  font-size: 32px;
  font-style: italic;
}

figcaption {
  text-align: right;
  font-weight: bold;
}

/* Call to action */

.call-to-action {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-box {
  height: 200px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 96px;
  background-color: #3882f6;
  border-radius: 5px;
}

.call-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn-secondary {
  border: 1px solid #fff;
}

/* Footer */
footer {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  font-size: 18px;
}
